<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /BudgetTracker/FRONTEND/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /BudgetTracker/FRONTEND/index.html [L]
</IfModule>